{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="{% static 'users/styles.css' %}"
    </head>
    <nav>
        <div>
            <!-- website logo-->
            <div>
                <a class="flex" href="">
                    <img class ="h-8 w-8" src="{% static 'users/images/instagram.png' %}" alt="">
                    <span class="font-semibold text-lg text-gray-500">Photo app</span>
                </a>
            </div>
            <!-- website items-->
        </div>
    </nav>
    <body>
        {% if request.user.is_authenticated %}
        <a href="{% url 'logout' %}">Logoutt</a>
        {% else %}
        <a href="{% url 'login' %}">Login</a>
        {% endif %}
        {% block body %}
        {% endblock %}

    </body>

</html>